In [2]:
import requests
import pandas as pd
import os  # ğŸ‘ˆ æ–°å¢é€™å€‹ï¼šç”¨ä¾†è™•ç†è³‡æ–™å¤¾è·¯å¾‘

print("ğŸš€ æ­£åœ¨å‘¼å« Open-Meteo API (ç›®æ¨™ï¼šå°åŒ—æ°£è±¡ç«™ 466920 ä½ç½®)...")

# --- 1. è¨­å®šåƒæ•¸ ---
# è‡ºåŒ— (466920) ç¶“ç·¯åº¦ï¼š121.5149Â°E, 25.0377Â°N
lat = 25.0377
lon = 121.5149

# è¨­å®šæ™‚é–“ç¯„åœ
start_date = "2025-12-09"
end_date = "2025-12-12"  # å»ºè­°æŠ“åˆ°ä»Šå¤©ï¼Œç¢ºä¿è³‡æ–™å®Œæ•´

# å»ºæ§‹ API URL
url = f"https://archive-api.open-meteo.com/v1/archive?latitude={lat}&longitude={lon}&start_date={start_date}&end_date={end_date}&hourly=temperature_2m,precipitation&timezone=Asia%2FTaipei"

try:
    # --- 2. ç™¼é€è«‹æ±‚èˆ‡æ•´ç†è³‡æ–™ ---
    response = requests.get(url)
    data = response.json()
    
    hourly = data['hourly']
    
    df_weather = pd.DataFrame({
        'record_time': hourly['time'],
        'temperature': hourly['temperature_2m'],
        'rain': hourly['precipitation']
    })
    
    # è½‰æ›æ™‚é–“æ ¼å¼
    df_weather['record_time'] = pd.to_datetime(df_weather['record_time'])
    
    print("âœ… æˆåŠŸæŠ“å–ï¼è³‡æ–™é è¦½ï¼š")
    print(f"ğŸ“ åº§æ¨™ä¾†æºï¼šå°åŒ—æ°£è±¡ç«™ (466920)")
    display(df_weather.head())
    display(df_weather.tail())

    # --- 3. é—œéµä¿®æ”¹ï¼šå­˜æª”åˆ° data/raw è³‡æ–™å¤¾ ---
    # è¨­å®šç›®æ¨™è³‡æ–™å¤¾ (../ ä»£è¡¨å›åˆ°ä¸Šä¸€å±¤)
    output_dir = '../data/raw'
    
    # å¦‚æœè³‡æ–™å¤¾ä¸å­˜åœ¨ï¼Œè‡ªå‹•å»ºç«‹ (é€™è¡Œå¾ˆå®‰å…¨ï¼Œä¿è­‰ä¸æœƒå ±éŒ¯)
    os.makedirs(output_dir, exist_ok=True)
    
    # è¨­å®šå®Œæ•´çš„æª”æ¡ˆè·¯å¾‘
    output_path = os.path.join(output_dir, 'taipei_weather_hourly.csv')

    # å­˜æª”
    df_weather.to_csv(output_path, index=False)
    print(f"\nğŸ’¾ å·²å°‡æ°£è±¡è³‡æ–™æˆåŠŸå„²å­˜è‡³: {output_path}")
    print("ğŸ‘‰ è«‹å»å·¦å´æª¢æŸ¥ 'data/raw' è³‡æ–™å¤¾è£¡é¢æœ‰æ²’æœ‰å‡ºç¾é€™å€‹æª”æ¡ˆï¼")

except Exception as e:
    print(f"âŒ éŒ¯èª¤ï¼š{e}")

ğŸš€ æ­£åœ¨å‘¼å« Open-Meteo API (ç›®æ¨™ï¼šå°åŒ—æ°£è±¡ç«™ 466920 ä½ç½®)...
âœ… æˆåŠŸæŠ“å–ï¼è³‡æ–™é è¦½ï¼š
ğŸ“ åº§æ¨™ä¾†æºï¼šå°åŒ—æ°£è±¡ç«™ (466920)

          record_time  temperature  rain
0 2025-12-09 00:00:00         18.3   0.2
1 2025-12-09 01:00:00         18.4   0.2
2 2025-12-09 02:00:00         18.4   0.4
3 2025-12-09 03:00:00         18.1   1.1
4 2025-12-09 04:00:00         17.9   1.2

           record_time  temperature  rain
91 2025-12-12 19:00:00         18.7   0.0
92 2025-12-12 20:00:00         18.9   0.1
93 2025-12-12 21:00:00         19.0   0.0
94 2025-12-12 22:00:00         19.2   0.0
95 2025-12-12 23:00:00         19.4   0.0

ğŸ’¾ å·²å°‡æ°£è±¡è³‡æ–™æˆåŠŸå„²å­˜è‡³: ../data/raw/taipei_weather_hourly.csv
ğŸ‘‰ è«‹å»å·¦å´æª¢æŸ¥ 'data/raw' è³‡æ–™å¤¾è£¡é¢æœ‰æ²’æœ‰å‡ºç¾é€™å€‹æª”æ¡ˆï¼